body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assests/background/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background: rgba(255, 255, 255, 0.9); /* yarı saydam beyaz */
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: rgb(223, 70, 70);
  transition: 0.5s;
}

li:hover {
  background: rgb(255, 100, 100);
  transform: scale(1.1);
}

li.completed {
  text-decoration: line-through;
  color: gray;
  background: rgb(189, 189, 109);
}
